# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [3]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [4]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [5]:
# use pd.concat instead of the deprecated DataFrame.append
cars = pd.concat([cars1, cars2], ignore_index=True)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97,52,2130,24.6,82,2,vw pickup
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120,79,2625,18.6,82,1,ford ranger
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [6]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([20084, 50868, 33384, 28845, 18765, 68414, 37316, 37211, 15656,
       55675, 36867, 48464, 68995, 63220, 50372, 25946, 67686, 64356,
       28241, 69692, 33998, 46007, 26864, 67091, 22591, 48813, 16852,
       60698, 36913, 44233, 56619, 59239, 31124, 22089, 48960, 43177,
       24525, 47618, 31479, 42563, 27098, 43894, 70459, 56495, 58384,
       20531, 34707, 65607, 61943, 15044, 38900, 70466, 60892, 49802,
       18899, 37137, 18902, 26690, 51023, 24882, 61859, 42746, 33225,
       21666, 33187, 65801, 23692, 51732, 20457, 57280, 25231, 65531,
       46248, 63996, 20439, 70330, 49904, 22743, 18998, 63203, 28705,
       56636, 29780, 45259, 58476, 40205, 60236, 55764, 48177, 21202,
       31397, 38687, 45360, 34587, 19287, 53190, 32162, 31712, 27111,
       37334, 49249, 35245, 21383, 59583, 71160, 66137, 64734, 49567,
       31844, 70987, 71470, 28470, 58790, 36380, 44261, 37903, 29248,
       72088, 72153, 17252, 60694, 70551, 34236, 35837, 32456, 44765,
       68205, 43596, 62823, 38553, 15965, 41822, 29384, 53291, 62229,
       16047, 68983, 42742, 26043, 16281, 57830, 66811, 69252, 50680,
       31682, 54497, 62575, 72626, 51487, 30115, 46656, 71452, 31783,
       27525, 49733, 27869, 72504, 61947, 43324, 20139, 46544, 16196,
       62949, 16740, 50130, 54332, 28148, 69493, 69196, 22666, 25178,
       50347, 25292, 26925, 58504, 24049, 30119, 69410, 59743, 36697,
       50403, 61744, 58110, 50251, 23427, 64520, 72003, 24885, 43873,
       66468, 24844, 20564, 45114, 31757, 63941, 66813, 68205, 67825,
       56976, 49947, 36967, 20350, 17579, 38636, 51194, 31818, 26837,
       28905, 44253, 36332, 37757, 46045, 64240, 33522, 26747, 35193,
       26293, 58575, 31284, 66798, 17776, 26262, 62228, 24562, 40360,
       20710, 40872, 39202, 47528, 52067, 59777, 67446, 34089, 61603,
       31159, 30037, 34840, 16539, 41178, 64763, 44963, 16546, 33308,
       20465, 36888, 25573, 60150, 50512, 43523, 56775, 30789, 42639,
       30309, 62680, 41395, 30828, 27257, 41943, 54489, 35829, 66502,
       28427, 23799, 54003, 28690, 46094, 70257, 56868, 36770, 21489,
       72600, 50203, 22358, 44842, 47318, 33538, 64719, 32661, 35696,
       44248, 48563, 16862, 25831, 16932, 59844, 40885, 66348, 40816,
       47766, 70878, 26425, 29453, 36866, 20272, 60940, 54039, 27180,
       32723, 23654, 42285, 67767, 47585, 44718, 54853, 30684, 51626,
       49452, 54473, 71697, 16433, 59653, 51861, 49709, 32476, 43553,
       34950, 40870, 18194, 51680, 39667, 34037, 56312, 28936, 18992,
       55081, 56705, 28326, 71836, 72017, 30451, 18638, 42186, 26721,
       27136, 25161, 45296, 31365, 58497, 26752, 16733, 72942, 58210,
       70481, 32416, 16262, 43091, 62524, 66159, 55118, 27225, 71030,
       67287, 64175, 19063, 15214, 50366, 49124, 45913, 65497, 58243,
       53738, 25416, 17860, 35218, 18738, 17310, 63348, 37450, 40679,
       56317, 70366, 50727, 15183, 15392, 54403, 27983, 55376, 61710,
       47499, 39666, 37429, 30667, 38817, 52075, 66812, 39421, 63448,
       59255, 18049, 19713, 50629, 32324, 17585, 68812, 36381, 65021,
       23721, 70777])

### Step 8. Add the column owners to cars

In [7]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,68812
394,44.0,4,97,52,2130,24.6,82,2,vw pickup,36381
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage,65021
396,28.0,4,120,79,2625,18.6,82,1,ford ranger,23721
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10,70777